a {

    text-decoration: none;
}

/* code css de l'acceuil*/

#titre{
    padding: 20px;
    float: left;
}

header{
    outline: #aef1f1 solid 10px;
    background-image: url("image/bandeau.png");
    border-radius: 4px;
}

/* css des bouttons*/
.button1 {
  text-decoration: none;
  font-family: "Times New Roman", Georgia, serif;
  background-color: #15a1ba;
  border: none ;
  color: white;
  margin:3px;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.6s;
}


.button1:hover {
    background-color: #daffff;
    color: blue;
}

.recherche {
    float: right;
}

/*code css de la barre de navigation*/

/* menu deroulant*/

.deroule {
  position: absolute;
  display: inline-block;
}

.deroule_liens{
    z-index:1;
  display: none;
  position: absolute;
  background-color: #081560;
  min-width: 120px;

}

.deroule_liens a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;

}

.deroule_liens a:hover {
    background-color: white;
    color:#081560;

}

.deroule:hover .deroule_liens {
    display: block;
    position: absolute;
}

/*fin code css du menu deroulant*/

nav ul {
  list-style-type: none;
  margin: 2px;
  padding: 0px;
  overflow: auto;
  background-color: #081560;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav li a:hover {
    background-color: #152eba;
}

/*fin du code css de la barre de navigation*/

/*code css du cadre d'inscription*/

#cadre1 {
    outline: #aef1f1 solid 10px;
    text-align: center;
    font-family: "Times New Roman", Georgia, serif;
    padding: 10px;
    margin-top: 15px;
    border: black solid 1px;


}

/* code css du choix des thèmes*/

/*case pour érire "THème"*/
.entete {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    color: black;
    font-family: Arial, Georgia, serif;
    text-align: center;
}
/*Le cadre2= bande thème+images+les titres d'images*/
#cadre2 {
    outline: #aef1f1 solid 10px;
    padding: 10px;
    margin-top: 20px;

    box-sizing: border-box;

}
/*entete*/
.head {

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    background-color: #20a6a6;
    border-color: #20a6a6;
}

.block_image {

    box-sizing: border-box;
}
/*caractéritique du texte*/
.nom {
    position: relative;
    font-weight: bold;
    color: red;
    font-size: 30px;
    font-family: Arial;
    box-sizing: border-box;
}
/*positionnement des images*/
.contenu{

    padding-top: 10px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;

}
/*centrer le texte sur l'image*/
.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #222;
    margin-bottom: 2px;
    text-decoration: none;
    position: relative;
}
/*postion des images */
.image {
    position: absolute;
   background-position: center center;
}
/* animation sur les thèmes*/
.contenu:hover .image, .block_espace_perso img:hover {
       opacity: 0.5;
       transition: 0.3s;
       box-sizing: border-box;
       background-size: cover;

}

/*fin du code css pour le choix des thèmes*/

/*code css du bas de page*/
footer {
    font-size: 10px;
    text-align: center;
    outline: #aef1f1 solid 10px;
    background-color: #aef1f1;
    border-radius: 4px;
    padding: 20px;
    margin-top:50px;

}


/*page d'inscription*/



.colonne {
    float: left;
    width: 40%;
    padding: 20px;
}
.colonne p,li{
    text-align: center;
    font-size: 20px;
}

.ligne:after{
    content:"";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
  .colonne{
    width: 50%;
  }
}


/* code css des pages thèmes*/

.liste_livre,.description,.ajoute,.liste_membre, .mauvais_acces {
    border-radius: 4px;
    outline: #aef1f1 solid 10px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-style: Georgia, serif;
}


.ajoute form{

    text-align:center;
    font-size: 20px;
    font-style: "Time New Roman", serif;
    margin: 10px auto;
    width: 100px;
}

.image_liste {
    width: 170px;
    margin: 10px;
	height: auto;
}

.titre_manga {
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
    text-align:center;
}

/*affichage des résultats de la recherche*/

.resultats_recherche{
    border-radius: 4px;
    outline: #aef1f1 solid 10px;
    margin-top: 20px;
    padding: 20px;
    font-size: 15px;
    font-style: Georgia, serif;

}
.resultats_recherche p{
    text-align:left;

}

.description_resultats{
    float:right;
    font-size: 15px;
    font-family: Arial;
}

/*boîte de connexion*/

.boite_login{

    display: none;
    z-index:1;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);

}

.contenu_boite_login{
    background-color: white;
}

/*gestion membres*/

table {
    margin:auto;
}

th {
  background-color: #20a6a6;
  padding: 10px;
}

.td1 {
  font-size: 20px;
  padding:10px 20px;
  background-color: #aef1f1

}

/*espace perso*/
.block_espace_perso{
    box-sizing: border-box;
    overflow: auto;
    white-space: nowrap;

}

.block_espace_perso img{
    border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 150px; /* Set a small width */
box-sizing: border-box;
}

.collection {
    display:none;
}
